img {
  margin-left: 20px;
  margin-right: 20px;
  width: 125px;
  height: 187.5px;
}
.String {
  margin-left: 25%;
}
#String_2 {
  margin-top: 35px;
}
#String_3 {
  margin-top: 35px;
}
#String_4 {
  margin-top: 35px;
}
